<head>
    <link rel="stylesheet" href="/stylesheets/books/chapter.css">
</head>

<div class="partForm">
    <div class="row dir">
        <style>
            a{
                text-decoration: none;
                color: #f3f3f3;
            }
        </style>
        <h2 class="textDark main"><a href="/b/all"><%= dir %></a>> </h2><h2 class="textDark second"> <a href="/b/<%= book %>"><%= book %></a>> <a href="/c/<%= book %>/<%= chapter %>"><%= chapter %></a></h2>
    </div>
    <div class="row options">
        <div class="listo">
            <button>Previous</button>
            <div class="listo">
                <input type="number" value="1">
                <h2 class="textDark">/ 99</h2>
            </div>
            <button>Next</button>
            <div class="listo" style="background-color: #444444; border-radius: 8px; height: 50px;">
                <img src="/media/icons/zoom in icon 34.27x34.27.svg" alt="">
                <img src="/media/icons/zoom out icon 34.27x34.27.svg" alt="">
                <img src="/media/icons/Full screen icon 30x30.svg" alt="">
            </div>
        </div>
    </div>
    <iframe src="" frameborder="0" class="player"></iframe>
    <div class="textDark" style="height: 60px;">
        a7a
    </div>
</div>